.item {
  position:relative;
  display: inline;
}

.get-inline {
  display: inline !important;
}

.Junk {
  border-color: #aaa;
}

.Basic {
  border-color: #000;
}

.Fine {
  border-color: #62a4da;
}

.Masterwork {
  border-color: #1a9306;
}

.Rare {
  border-color: #fcd00b;
}

.Exotic {
  border-color: #ffa405;
}

.Ascended {
  border-color: #fb3e8d;
}

.Legendary {
  border-color: #4c139d;
}

.Junk, .Basic, .Fine, .Masterwork, .Rare, .Exotic, .Ascended, .Legendary {
  border-style: solid;
  border-width: .2em;
}
@media (min-width: 1201px) {
  .get-inline {
    width: 20%;
    height: auto;
  }

  .shiny-height {
    height: 24em;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .get-inline {
    width: 25%;
    height: auto;
  }

  .shiny-height {
    height: 29em;
  }
}
@media (min-width: 750px) and (max-width: 991px) {
  .get-inline {
    height: 2%;
    width: auto;
  }
}

@media (min-width: ) and (max-width: 749px) {
  .get-inline {
    max-width: 10%;
    height: auto;
  }

  .shiny-height {
    height: 40em;
  }
}
